#page{
  width: 455px;
  margin: 0 auto;
}

td{
    font-family: Verdana, sans-serif;
    color: #0f0f0f;
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 10px solid #011d3d;
    background-color: #548cd0;
  }
  
  .bingohead{
    border: 10px solid #548cd0;
  }
  
  h1, h3, h3 a{
    font-family: Verdand, sans-serif;
    text-align:center;
    padding:3px;
    color:#211111;
    background-color:#548cd0;
    border:10px solid #011d3d;
  }
  
  td{
    cursor:pointer;
  }
  
  #free{
    background-color:#a81985;
    color:#eee;
    cursor:default;
  }
